.welcome {
    height: 532px;
    width: 100%;
}
.welcome_container {
    padding-top: 62px;
    width: $laptop-content-width;
    height: 407px;
    display: flex;
    align-items: center;
}
#welcome_pic {
    width: 448px;
    height: 407px;
}

.welcome_content {
    width: 549px;
    height: 340px;
    padding-left: 224px;
}
.welcome_title_container {
    height: 101px;
    width: 549px;
}
.welcome_title {
    font-size: 45px;
    padding-bottom: 27px;
}
.welcome_p {
    font-size: 20px;
    line-height: 35px;
    // padding-bottom: 25px;
    // padding-top: 15px;
    padding: 25px 0 26px 0px;
}
.welcome_btn {
    width: 158px;
    height: 44px;
    background-color: $color-background;
    border: 2px solid $color-brand;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $color-black;
}

// Tablet

@media (min-width: $tablet-breackpoint) and (max-width: $desktop-breackpoint) {
    .welcome {
        height: 420px;
    }
    .welcome_container {
        height: 310px;
        width: $tablet-content-width;
        padding-top: 0;
        flex-direction: row-reverse;
    }
    #welcome_pic {
        width: 280px;
        height: 254.15px;
        padding-top: 31px;
    }
    .welcome_content {
        width: 346px;
        height: 310px;
        padding: 81px 42px 0 0;
    }
    .welcome_title_container {
        height: 101px;
        width: 341px;
    }
    .welcome_title {
        font-size: 35px;
        padding-bottom: 35px;
    }
    .welcome_p {
        font-size: 16px;
        line-height: 25px;
        padding: 17px 0 19px 5px;
    }
    .welcome_btn {
        width: 158px;
        height: 44px;
    }
}

// Mobile

@media (min-width: $mobile-breackpoint) and (max-width: $tablet-breackpoint) {
    .welcome {
        height: 300px;
    }
    .welcome_container {
        height: 252px;
        width: $mobile-content-width;
        padding: 0;

    }

    #welcome_pic {
        display: none;
    }

    .welcome_content {
        width: 346px;
        height: 310px;
        margin: 107px 200px 0 0;
        padding-left: 0;
        // padding: 107px 0 0 0;
        
    }
    .welcome_title_container {
        height: 72px;
        width: 330px;        
    }
    .welcome_title {
        font-size: 25px;
        line-height: 35px;
        padding-bottom: 14px;
    }
    .welcome_p {
        font-size: 16px;
        line-height: 25px;
        padding-bottom: 10px;
        padding-top: 3px;
    }
    .welcome_btn {
        width: 100px;
        height: 34.14px;
        font-size: 10px;
        line-height: 20px;
    }
}

//SMALLEST SCREEN

@media (min-width: $smallest_breakpoint) and (max-width: $mobile-breackpoint) {

    .welcome {
        height: 300px;
    }
    .welcome_container {
        height: 252px;
        width: $smallest-content-width;
        padding: 0;
    }

    #welcome_pic {
        display: none;
    }

    .welcome_content {
        width: $smallest-content-width;
        height: 310px;
        margin: 107px 200px 0 0;
        padding-left: 0;
        // padding: 107px 0 0 0;
        
    }
    .welcome_title_container {
        height: 72px;
        width: $smallest-content-width;        
    }
    .welcome_title {
        font-size: 25px;
        line-height: 35px;
        padding-bottom: 14px;
    }
    .welcome_p {
        font-size: 16px;
        line-height: 25px;
        padding-bottom: 10px;
        padding-top: 3px;
    }
    .welcome_btn {
        width: 100px;
        height: 34.14px;
        font-size: 10px;
        line-height: 20px;
    }
}